<div>
    <label>Title</label>
    <input type="text" name="title" value="<%= toys.title %>">
  </div>
  <div>
    <label>Clothes</label>
    <select name="clothes">
    <% clothes.forEach(clothes => { %>
      <% if (clothes.id === toys.clothes) { %>
        <option selected label="<%= clothes.name %>" value="<%= clothes.id %>">
      <% } else { %>
        <option label="<%= clothes.name %>" value="<%= clothes.id %>">
      <% } %>
    <% }) %>
    </select>
  </div>
  <div>
    <label>Publish Date</label>
    <input type="date" name="publishDate"
          value="<%= toys.publishDate == null ? '' : toys.publishDate.toISOString().split('T')[0] %>">
  </div>
  <div>
    <label>Page Count</label>
    <input type="number" name="pageCount" min="1" value="<%= toys.pageCount %>">
  </div>
  </div>
  <div>
    <label>Cover</label>
    <input type="file" name="cover">
  </div>
  <div>
    <label>Description</label>
    <textarea name="description"><%= toys.description %></textarea>
  </div> 